.ng-invalid-pattern {
   border: 3px solid #f00;
}

.table-divide {
   background: #444;
   color: #fff;
}

table.terms-table {
   border: 3px solid #000;
   margin: 3px;
   padding: 2px;
}

div.terms-table {
   border: 3px solid #000;
   display: table;
   margin: 0 auto;
   max-width: 700px;
   width: 100%;
   background-image: url("../img/cogs.png");
   background-position: right 10px bottom 10px;
   background-repeat: no-repeat;
   background-size: 200px;
}

.results {
   max-width: 690px;
   width: 100%;
   border: 3px solid #000;
   margin: 3px auto;
   padding: 5px;
}

wrapper {
   opacity: 0.4;
   filter: alpha(opacity=40); /* msie */
   background-color: #000;
}

body {
   background: #111111 url(http://1.bp.blogspot.com/-F2CLlfI0nNs/VP4VSskKQUI/AAAAAAAAIfs/JJgxqE5o33E/s0/ub2_seamless.jpg) repeat scroll top left;
}

div {
   background: #fff;
}

.footref {
   border: 3px solid #000;
   max-width: 690px;
   width: 100%;
   margin: 3px auto 0 auto;
   padding: 5px;
}
